<html>
    <head>
        <style>
            body{
            height: max-content;
            }
        
    .head{
        position:absolute;
        top: 10%;
        left: 10%;
    }
    .con{
        position:absolute;
        top: 20%;
        left: 10%;
        right: 50%;
        
    }


        </style>
    </head>
    <body background-color="blue">
    <h2 class="head">Underwater Object Detection</h2>
    <p class="con" style="color: antiquewhite;">Our system aims to revolutionize underwater imaging by
        addressing the challenges posed by turbidity and poor lighting.
        By enhancing image quality and enabling accurate object
        detection, we aim to support a wide range of applications,
        including marine biology research, environmental monitoring,
        and autonomous underwater vehicle operations</p>
    </body>
    </html>